//
// Custom Buttons Styles
// --------------------------------------------------


// Base styles
// --------------------------------------------------

.btn {
  position: relative;

  @include button-size($padding-base-vertical, $padding-base-horizontal, $btn-font-size, $btn-lh-size, $border-radius);

  white-space: nowrap;
  text-transform: uppercase;
  letter-spacing: 0.06em;

  border-width: $border-width-small;
  transition: .3s;
  backface-visibility: hidden;

  &:focus,
  &:active,
  &:active:focus{
    outline: none;
  }

  &:focus {
    box-shadow: none;
  }

  .caret:last-child{
    margin-left: 5px;
  }
}

.btn-group .btn + .btn,
.btn-group-lg .btn + .btn{
  margin-left: -$border-width-base;
}

.btn-group-sm .btn + .btn,
.btn-group-xs .btn + .btn{
  margin-left: -$border-width-small;
}

.btn-group > .btn:hover,
.btn-group > .btn:focus,
.btn-group > .btn:active,
.btn-group > .btn.active,
.btn-group-vertical > .btn:hover,
.btn-group-vertical > .btn:focus,
.btn-group-vertical > .btn:active,
.btn-group-vertical > .btn.active{
  z-index: auto;
}

// Alternate buttons
// --------------------------------------------------

.btn-default {
  @include button-variant-custom($gray-800, transparent, $gray-500, $white, $gray-800, $gray-800);
}
.btn-primary {
  @include button-variant-custom($white, $primary, $primary, $white, $neon-carrot, $neon-carrot);
}

.btn-deluge {
  @include button-variant-custom($white, $deluge, $deluge, $white, darken(desaturate(adjust_hue($deluge, -11.086956521739125), 3.167452913843867%), 6.862745098039227%), darken(desaturate(adjust_hue($deluge, -11.086956521739125), 3.167452913843867%), 6.862745098039227%));
}

.btn-success {
  @include button-variant-custom($white, $success, $success, $white, lighten(desaturate(adjust_hue($success, 19.8148576718352), 9.78990022814724%), 3.333333333333343%), lighten(desaturate(adjust_hue($success, 19.8148576718352), 9.78990022814724%), 3.333333333333343%));
}

.btn-info {
  @include button-variant-custom($white, $info, $info, $white, darken(desaturate(adjust_hue($info, 7.55702479338845), 14.745357602500462%), 7.450980392156865%), darken(desaturate(adjust_hue($info, 7.55702479338845), 14.745357602500462%), 7.450980392156865%));
}

.btn-warning {
  @include button-variant-custom($white, $warning, $warning, $white, lighten(desaturate(adjust_hue($warning, -9.680319680319677), 2.4761735102877367%), 2.352941176470594%), lighten(desaturate(adjust_hue($warning, -9.680319680319677), 2.4761735102877367%), 2.352941176470594%));
}

.btn-danger {
  @include button-variant-custom($white, $danger, $danger, $gray-900, $primary, $primary);
}

.btn-picton-blue {
  @include button-variant-custom($white, $picton-blue, $picton-blue, $white, darken(desaturate(adjust_hue($picton-blue, -15.652173913043478), 0.36820083682007976%), 4.117647058823529%), darken(desaturate(adjust_hue($picton-blue, -15.652173913043478), 0.36820083682007976%), 4.117647058823529%));
}

.btn-sapphire {
  @include button-variant-custom( $white, #0956b5, #0956b5, $white, #084998, #084998);
}

.btn-darkest {
  @include button-variant-custom($gray-700, $gray-900, $gray-900, $gray-700, lighten($gray-900,5%), lighten($gray-900,5%));
}


// Alternate Buttons Gradient
// -------------------------

.btn-red {
  background: -webkit-linear-gradient(90deg, $danger 0%, $ku-crimson 100%);
  background: linear-gradient(90deg, $danger 0%, $ku-crimson 100%);
  color: $white;
  border: 0;
  .badge {
    color: $danger;
  }
}

.btn-malibu {
  background: -webkit-linear-gradient(90deg, $iceberg 0%, $info 100%);
  background: linear-gradient(90deg, $iceberg 0%, $info 100%);
  color: $white;
  .badge {
    color: $info;
  }
}


// Button Sizes
// --------------------------------------------------

.btn-xs {
  @include button-size($padding-base-vertical, $padding-base-horizontal, $btn-font-size-xs, $btn-lh-size-xs, $border-radius-small);
  border-width: $border-width-small;
}

.btn-sm {
  @include button-size($padding-small-vertical, $padding-small-horizontal, $btn-font-size-small, $btn-lh-size-small, $border-radius-small);
  border-width: $border-width-small;
}

.btn-lg {
  @include media-breakpoint-up(sm) {
    @include button-size($padding-large-vertical, $padding-large-horizontal, $btn-font-size-large, $btn-lh-size-large, $border-radius);
  }
}


// Button Shapes
// --------------------------------------------------

.btn-rect {
  border-radius: 0;
}

.btn-ellipse {
  &.btn{
    border-radius: ($btn-lh-size + ($padding-base-vertical*2) + ($border-width-base*2)) / 2;
  }

  &.btn-xs{
    border-radius: ($btn-lh-size-xs + ($padding-xs-vertical*2) + ($border-width-small*2)) / 2;
  }

  &.btn-sm{
    border-radius: ($btn-lh-size-small + ($padding-small-vertical*2) + ($border-width-small*2)) / 2;
  }

  &.btn-lg{
    border-radius: ($btn-lh-size-large + ($padding-large-vertical*2) + ($border-width-base*2)) / 2;
  }
}


// Button link
// -------------------------

.btn-link {
  position: relative;
  border: none;
  padding-left: $btn-link-padding-left;
  padding-right: $btn-link-padding-right;
  text-transform: uppercase;
  font-weight: $btn-link-weight;
  color: $btn-link-color;
  line-height: $btn-link-line-height;

  &:after {
    content: '';
    height: 2px;
    position: absolute;
    width: 60px;
    left: 50%;
    bottom: -2px;
    transform: translateX(-50%);
    transition: .3s;
    @include bg-variant-custom($btn-link-after-background);
  }

  &,
  &:active,
  &.active,
  &[disabled],
  fieldset[disabled] & {
    background-color: transparent;
    box-shadow: none;
  }

  &:hover,
  &:focus {
    color: inherit;
    text-decoration: none;
    background-color: transparent;

    &:after{
      width: 70px;
    }
  }

  &[disabled],
  fieldset[disabled] & {
    &:hover,
    &:focus {
      color: inherit;
      text-decoration: none;
    }
  }
}


// Button more
// --------------------------------------------------

.btn-more{
  font-size: $btn-more-size;
  font-weight: $btn-more-weight;
  line-height: $btn-more-line-height;

  .icon + *,
  *+.icon{
    transition: .3s;
    display: inline-block;
    margin-left: 8px;
  }

  .icon{
    color: $btn-more-icon-color;
  }

  .icon-xxs{
    font-size: $btn-more-icon-size;
    line-height: $btn-more-icon-line-height;
  }

  &:hover{
    .icon{
      color: $btn-more-icon-hover-color;
    }

    .icon + *,
    *+.icon{
      transform: translateX(4px);
    }
  }
}


// Button Icon styles
// --------------------------------------------------

.btn{

  &.btn-icon {
    padding-left: $btn-icon-padding;
    padding-right: $btn-icon-padding;

    .icon {
      font-size: $btn-icon-size;
      line-height: $btn-icon-size;
      vertical-align: middle;
      transition: 0s;
    }

    &-left{
      .icon{
        float: left;
        padding-right: $btn-icon-offset;
      }
    }

    &-right{
      .icon{
        float: right;
        padding-left: $btn-icon-offset;
      }
    }

  }
}

// Extra Small Size
.btn-xs{

  &.btn-icon {

    .icon {
      font-size: $btn-icon-xs-size;
      line-height: $btn-icon-xs-size;
    }

    &-left {
      .icon {
        padding-right: $btn-icon-xs-offset;
      }
    }

    &-right {
      .icon {
        padding-left: $btn-icon-xs-offset;
      }
    }

  }
}

// Small Size
.btn-sm{

  &.btn-icon {
    padding-left: $btn-icon-sm-padding;
    padding-right: $btn-icon-sm-padding;

    .icon {
      font-size: $btn-icon-sm-size;
      line-height: $btn-icon-sm-size;
    }

    &-left {
      .icon {
        padding-right: $btn-icon-sm-offset;
      }
    }

    &-right {
      .icon {
        padding-left: $btn-icon-sm-offset;
      }
    }
  }

}

// Large Size
.btn-lg{

  &.btn-icon {
    padding-left: $btn-icon-lg-padding;
    padding-right: $btn-icon-lg-padding;

    .icon {
      font-size: $btn-icon-lg-size;
      line-height: $btn-icon-lg-size;
    }

    &-left{
      .icon {
        padding-right: $btn-icon-lg-offset;
      }
    }

    &-right {
      .icon {
        padding-left: $btn-icon-lg-offset;
      }
    }

  }
}


// Button toolbar
// --------------------------------------------------

.btn-toolbar {
  margin-left: 0;
  transform: translate(-10px, -10px);

  & > .btn,
  & > .input-group,
  & > .btn-group {
    margin-left: 10px;
    margin-top: 10px;
  }
}
// Builder button
.builder-button {
  position: fixed;
  top: 50%;
  right: 0;
  z-index: 10;
  display: none;
  align-items: center;
  justify-content: center;
  padding: 10px 10px;
  text-transform: uppercase;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .01em;
  line-height: 1;
  transform-origin: 100% 100%;
  transform: rotate(-90deg) translateX(50%);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-image: linear-gradient(to bottom, #00F3F7 0%, #109DF7 51%, #00F3F7 100%);
  background-size: auto 200%;
  color: white;

  > * + * {
    margin-left: 10px;
  }

  img {
    max-width: 30px;
    height: auto;
  }

  &:hover,
  &:focus {
    color: white;
  }

  [data-x-mode="true"] & {
    display: none;
  }

  @include media-breakpoint-up( md ) {
    display: inline-flex;
  }
}
