//- Includes
include ../elements/_widget-form-search
include ../elements/_widget-tags
include ../elements/_widget-twitter

// Section Blog Modern
aside.text-left.inset-lg-left-20
  .row
    .col-lg-12
      // Search Form
      p.big.text-medium.text-uppercase.text-spacing-60 Search
      div.text-subline
    
      .offset-top-34
        +widget-form-search("input-sm", "form-label-sm", "blog-sidebar-2-form-search-widget")
    .col-lg-12.offset-top-41
      // Twitter Feed
      p.big.text-medium.text-uppercase.text-spacing-60 Twitter Feed
      div.text-subline
    
      .offset-top-34
        +widget-twitter({
          "dataTwitterUsername": "templatemonster"
        })

    .col-sm-6.col-lg-12.offset-top-41
      // Category
      p.big.text-medium.text-uppercase.text-spacing-60 category
      div.text-subline

      ul.list.list-marked.offset-top-30
        li
          a(href="#") Fitness #[span.text-dark (37)]
        li
          a(href="#") Yoga #[span.text-dark (211)]
        li
          a(href="#") CrossFit #[span.text-dark (12)]
        li
          a(href="#") Bodybuilding #[span.text-dark (7)]
        li
          a(href="#") Boxing #[span.text-dark (15)]

    .col-sm-6.col-lg-12.offset-top-41
      // Archive
      p.big.text-medium.text-uppercase.text-spacing-60 Archive
      div.text-subline

      ul.list.list-marked.offset-top-30
        li
          a(href="#") January 2018 #[span.text-dark (17)]
        li
          a(href="#") December 2017 #[span.text-dark (121)]
        li
          a(href="#") November 2017 #[span.text-dark (19)]
        li
          a(href="#") October 2017 #[span.text-dark (9)]
        li
          a(href="#") September 2017 #[span.text-dark (25)]

    .col-lg-12.offset-top-41
      // Tags
      p.big.text-medium.text-uppercase.text-spacing-60 Tags
      div.text-subline
    
      .offset-top-34
        +widget-tags("btn btn-xs btn-default", [
          {"title": "body", "href": "#"},
          {"title": "Fitness", "href": "#"},
          {"title": "CrossFit", "href": "#"},
          {"title": "yoga", "href": "#"},
          {"title": "Bodybuilding", "href": "#"}
        ])
