//- Post Widget
//- url - expanded post link
//- date - date of publishment
//- title - post title
//- image - post image

mixin widget-post(url, date, title, image, aClass, iconClass)
  // Post Widget
  article.post.widget-post.text-left(class= aClass)
    a(href=url)
      div.unit.flex-row.unit-spacing-xs.align-items-center
        if image
          .unit-left
            img.rounded-circle(width=image.w, height=image.h, src=image.src, alt=image.alt)
        .unit-body
          .post-meta
            span.novi-icon.icon-xxs.mdi.mdi-arrow-right(class= iconClass)
            time.text-dark(datetime="2018-01-01")= date
          .post-title
            h6.text-regular= title
