include _config
include elements/_ui-rd-navbar-floated
include elements/_ui-breadcrumb-modern

block variables

doctype html

html.wow-animation( lang='en' )
  head
    block title
      title Home

    meta( charset='utf-8' )
    meta( name='format-detection', content='telephone=no' )
    meta( name='viewport', content='width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' )
    meta( http-equiv='X-UA-Compatible', content='IE=Edge' )

    block search-meta
      meta( name='keywords', content='intense web design multipurpose template' )
      meta( name='date', content='Dec 26' )

    link( rel='icon', href='images/favicon.ico', type='image/x-icon' )
    link( rel='stylesheet', type='text/css' href= cfg.fonts ) 
    link( rel='stylesheet', href='css/style.css' )

    style .ie-panel{display: none;background: #212121;padding: 10px 0;box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);clear: both;text-align:center;position: relative;z-index: 1;} html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {display: block;}

  body
    // IE Panel
    div.ie-panel
      a( href='http://windows.microsoft.com/en-US/internet-explorer/' )
        img( src='images/ie8-panel/warning_bar_0000_us.jpg', height=42, width=820, alt='You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today.' )

    // Page
    div.page.text-center
      block page
    a.builder-button( href= 'https://ld-wp2.template-help.com/novi-builder/intense-gym/', target= "_blank" )
      img( src="images/novi-icon-26x26.png", width=26, height=26, alt='' )
      span Try builder

    // Global Mailform Output
    #form-output-global.snackbars

    // Java script
    script( src='js/core.min.js' )
    script( src='js/script.js' )
