mixin member-block-type-5(img, icons, contactInfo, btn)
  // Member block type 5
  .member-block-type-5.inset-lg-right-20
    img.img-fluid.mx-auto.d-block(src=img.src width=img.width height=img.height alt="")
    .member-block-body
      a.btn.btn-block(href= btn.link, class= btn.class)= btn.text
      .offset-top-34
        ul.list-inline.list-inline-xs
          each icon in icons
            li.list-inline-item
              a.novi-icon.icon.icon-xxs.icon-circle.icon-darkest-filled(class= icon.class, href=icon.link)
      address.contact-info.offset-top-20.offset-md-top-34
        ul.list-unstyled.p
          each contact in contactInfo
            li
              span.novi-icon.icon.icon-xxs.text-middle.text-dark(class= contact.class)
              a.p.big.text-middle.d-inline-block.offset-top-0(class= contact.type === "mail" ? "text-picton-blue" : "", href= contact.type === "mail" ? "mailto:"+ contact.link : "tel:"+ contact.link)= contact.link
