//- img - set path to image
//- name - set block author name
//- position - set block author position
//- nameLink - link of author name
mixin box-member(img, name, position, nameLink)
  // Box Member
  .box-member
    img.img-fluid(src= img alt='')
    h5.font-weight-bold.offset-top-20
      a(href= nameLink)= name
      = ' '
      small.text-danger= position
    
    .box-member-caption
      .box-member-caption-inner
        block