//- Default Post

include ../elements/_ui-thumbnail-classic
include ../elements/_ui-carousel-gallery-classic
include ../elements/_ui-video-embed
include ../elements/_ui-soundcloud-player-classic

mixin post-default(date, title, author, tags, comments, media)
  // Post Wide
  article.post.post-default.text-left
    // Post Header
    .header.post-header
      // Post Meta
      ul.post-controls.list-inline.list-inline-sm.p.text-dark
        li.list-inline-item
          span.text-middle.icon-xxs.text-danger.mdi.mdi-clock.novi-icon
          time(datetime="2018-01-01").text-middle= date
        li.list-inline-item
          span.text-middle.icon-xxs.text-danger.mdi.mdi-account-outline.novi-icon &nbsp;
          span.text-middle= author

        if tags
          li.list-inline-item
            span.text-middle.icon-xxs.text-danger.mdi.mdi-folder-outline.novi-icon &nbsp;
            each tag, i in tags
              a.text-middle(href= tag.href)= tag.title
              - if (i !== (tags.length - 1))
                = ", "
        li.list-inline-item
          span.text-middle.icon-xxs.text-danger.mdi.mdi-comment-multiple-outline.novi-icon &nbsp;
          a(href="#comments").text-middle= comments
            span &nbsp;Comments

      // Post Meta
      h3.text-regular.text-darker.post-title= title


      // Post Media
      if media
        .post-media.offset-top-34
          header.post-media.novi-excluded
            case media.type
              when "gallery"
                +carousel-gallery-classic(media.images)
              when "soundcloud"
                +soundcloud-player-classic(media)
              when "video"
                +video-embed(media)
              when "thumbnail"
                //- TODO: Remove this wrap on photoswipe init fix
                div
                  +thumbnail-classic(media)
              default
                = ""

    // PostContent
    section.post-content.offset-top-41.novi-excluded
      block
