//- RD Search Form
//- inputClass - class on input

mixin widget-form-search(inputClass, labelClass, inputId, formClass)
  // RD Search Form
  form.form-search.rd-search(class= formClass || "", action="search-results.html" method="GET")
    div.form-group
      label.form-label.form-search-label(class=labelClass for=inputId) Search
      input.form-search-input.input-sm.form-control(class=inputClass id=inputId type="text" name="s" autocomplete="off")
    button(type="submit").form-search-submit
      span.mdi.mdi-magnify.novi-icon