//- Includes
include ../elements/_widget-twitter
include ../elements/_widget-form-contact
include ../elements/_widget-list-social
include ../elements/_widget-form-subscribe
include ../elements/_widget-flickrfeed

//- Footer variant 3
footer.section-relative.section-top-66.section-bottom-34.page-footer.bg-gray-base.context-dark.novi-background(data-preset!={title: 'Footer', category: 'footer', reload: true, id: 'footer'})
  .container
    .row.justify-content-md-center.text-xl-left
      .col-md-12
        .row.justify-content-sm-center

          .col-sm-10.col-md-3.text-left.order-md-4.col-md-10.col-xl-3.offset-md-top-50.offset-xl-top-0.order-xl-2
            // Twitter Feed
            p.text-uppercase.text-spacing-60.font-weight-bold.text-center.text-xl-left Twitter Feed
            .offset-top-20
              +widget-twitter({
                "dataTwitterUsername": "templatemonster"
              }, true)

          .col-sm-10.col-md-3.offset-top-66.order-md-3.col-md-10.col-xl-2.offset-xl-top-0.order-xl-3
            // Flickr Feed
            p.text-uppercase.text-spacing-60.font-weight-bold Flickr
            .offset-top-24
              +widget-flickrfeed("tm58888_landscapes", {"data-image_q": "src"}, 4)

          .col-sm-10.col-md-3.offset-top-66.order-md-2.offset-md-top-0.col-md-6.col-xl-4.order-xl-4
            .inset-xl-left-20
              p.text-uppercase.text-spacing-60.font-weight-bold Newsletter
              p.offset-top-20.text-left.
                Keep up with our always upcoming  product
                features and technologies. Enter your e-mail and
                subscribe to our newsletter.
              .offset-top-30
                +widget-form-subscribe("Type your E-Mail", "form-subscribe-footer")

          .col-sm-10.col-md-3.offset-top-66.order-md-1.offset-md-top-0.col-md-6.col-xl-3.order-xl-1
            // Footer brand
            .footer-brand
              a(href="../index.html")
                | !{cfg.brand.logo}
            .offset-top-50.text-sm-center.text-xl-left
              +widget-list-social([
                {
                  "icon": "fa fa-facebook",
                  "href": "#"
                },
                {
                  "icon": "fa fa-twitter",
                  "href": "#"
                },
                {
                  "icon": "fa fa-google-plus",
                  "href": "#"
                },
                {
                  "icon": "fa fa-linkedin",
                  "href": "#"
                }
              ])
            p.text-darker.offset-top-20
              | #{cfg.brand.name} &copy; #[span(id="copyright-year")] . #[a(href="#") Privacy Policy]
